var elem = '<div class="alert alert-success fade-in" style="margin-bottom: 30px">' +
           '<a href="#" data-dismiss="alert" class="close">×</a>' +
           'Currently charging rent' + 
           '</div>';

$('.container').prepend(elem);
