<tr data-link="<%= edit_customer_payment_path @customer, invoice %>">
  <td>Invoice</td>
  <td><%= number_with_precision(invoice.amount, precision: 2) %></td>
  <td><%= invoice.date.strftime("%m/%d/%Y") %></td>
</tr>
