<h1 class="display-4 margin-40">Properties</h1>

<ul class="nav nav-tabs header-tabs">
  <li class="nav-item">
    <%= link_to "All Properties", properties_path, class: "#{isActive 'properties', 'index'} nav-link" %>
  </li>

  <li class="nav-item">
    <%= link_to "New Property", new_property_path, class: "#{isActive 'properties', ['new', 'create']} nav-link" %>
  </li>
</ul>
