<% if tran.cleared? %>
  <div class="alert alert-warning fade in" style="margin-bottom: 30px">
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    This transaction has been reconcilied. Editing it could put you out of balance the next time you reconcilie.
  </div>
<% end %>
