<% if obj.errors.any? %>
  <div class="row form-errors" style="margin-bottom: 10px;">
    <div class="col-xs-8 ">
      <div class="card card-inverse card-danger">
        <div class="card-block">
          <h5 class="card-title">
            <%= pluralize(obj.errors.count, "error") %> in form
          </h5>

          <ul class="card-text">
            <% obj.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>
