<h1 class="display-4 margin-40">Settings</h1>

<div class="card">
  <div class="card-header">
    Automatic Transaction Entry
  </div>
  <div class="card-block">
    <%= link_to 'Charge Rent', charge_rent_path, class: "btn btn-primary", remote: true %>
    <%= link_to 'Enter Recurring Trans', enter_recurring_trans_path, class: "btn btn-primary", remote: true %>
  </div>
</div>
