<h1 class="display-4 margin-40">Settings</h1>

<%= link_to 'Charge Rent', charge_rent_path, class: "btn btn-primary", remote: true %>
<%= link_to 'Enter Recurring Trans', enter_recurring_trans_path, class: "btn btn-primary", remote: true %>
