<%= render 'show_header' %>

<div class="row">
  <div class="col-md-4">
    <ul class="list-group">
      <li class="list-group-item">
        <b>Phone</b>
        <span class="pull-right">21423423</span>
      </li>

      <li class="list-group-item">
        <b>Address</b>
        <span class="pull-right">100 Foo St.</span>
      </li>
    </ul>
  </div>

  <div class="col-md-4">
    <ul class="list-group">
      <li class="list-group-item">
        <b>City</b>
        <span class="pull-right">Boaz</span>
      </li>
      <li class="list-group-item">
        <b>State</b>
        <span class="pull-right">AL</span>
      </li>
    </ul>
  </div>

  <div class="col-md-4">
    <div class="list-group">
      <li class="list-group-item">
        <b>Placeholder</b>
        <span class="pull-right">Value</span>
      </li>
    </div>
  </div>
</div>
<!-- <%= render 'form' %> -->
