<%= render 'header' %>

<table class="table table-hover" id="customers_index_table">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr data-link="<%= customer_path customer %>">
        <td><%= customer.full_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
