<%= render 'show_header' %>

<table class="table table-hover row-links">
  <thead class="thead-default">
    <tr>
      <th>Type</th>
      <th>Amount</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |trns| %>
      <tr data-link="<%= edit_customer_payment_path @customer, trns %>">
        <td>Payment</td>
        <td><%= number_with_precision(trns.amount, precision: 2) %></td>
        <td><%= trns.date.strftime("%m/%d%Y") %>
      </tr>
    <% end %>

  </tbody>
</table>
