<h1 class="margin-30">Summary</h1>

<button class="btn btn-primary" type="button">
  Process Rent Payments <span class="label label-pill label-default" style="background:white; color: #0275D8">42</span>
</button>
