<%= render 'header' %>

<div class="margin-25">
  <%= link_to "Reconcile Now", new_reconciliation_path, class: "btn btn-primary" %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Checkbook balance</th>
    </tr>
  </thead>
</table>
