<div class="modal fade" id="recurringTransModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>

<h1 class="display-4 margin-40">Recurring Transactions</h1>

<table class="table">
  <thead class="thead-default">
    <tr>
      <th>Description</th>
      <th>Last Entry Date</th>
      <th>Next Entry Date</th>
      <th></th>
    </tr>
  </thead>

  <tbody id="customer_notes_display">
    <% @trans.each do |tran| %>
      <tr>
        <td></td>
        <td><%= tran.last_charged.strftime("%m/%d/%Y") %></td>
        <td><%= tran.next_entry_date.strftime("%m/%d/%Y") %></td>
        <td class="text-xs-right">
          <%= link_to edit_recurring_tran_path(tran), remote: true, class: "btn btn-secondary btn-sm" do %>
            <i class="fa fa-pencil"></i>
          <% end %>

          <button class="btn btn-danger btn-sm">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
