<h1 class="display-4 margin-40">Recurring Transactions</h1>

<table class="table">
  <thead class="thead-default">
    <tr>
      <th>Next Entry Date</th>
      <th>Last Entry Date</th>
      <th></th>
    </tr>
  </thead>

  <tbody id="customer_notes_display">
    <% @trans.each do |tran| %>
      <tr>
        <td><%= Date.today %></td>
      </tr>
    <% end %>
  </tbody>
</table>
