<h1 class="display-4 margin-40">Deposit</h1>

<table class="table">
  <thead class="thead-default">
    <th></th>
    <th>Received From</th>
    <th>Date</th>
    <th>Type</th>
    <th>No.</th>
    <th>Amount</th>
  </thead>
</table>
