@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  padding-top: 80px;
}

.margin-25 {
  margin-bottom: 25px;
}

.margin-30 {
  margin-bottom: 30px;
}

.margin-35 {
  margin-bottom: 35px;
}

.margin-40 {
  margin-bottom: 40px;
}

.header-tabs {
  margin-bottom: 25px;
}

table.table-hover tbody tr {
  cursor: pointer;
}

.display-data {

  p {
    font-size: 15px;
  }

  small {
    font-weight: normal;
    color: gray;
    margin-right: 5px;
  }
}

// flash
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}
