<h1 class="margin-40">Chart of Accounts</h1>

<ul class="nav nav-tabs header-tabs">
  <li class="nav-item">
    <%= link_to 'All Accounts', accounts_path, class: "nav-link #{isActive 'accounts', 'index'}" %>
  </li>
  <li class="nav-item">
    <%= link_to 'New Account', new_account_path, class: "nav-link #{isActive 'accounts', ['new', 'create']}" %>
  </li>
</ul>
