<h3 class="margin-35"><%= @account.name %></h3>

<ul class="nav nav-tabs header-tabs">
  <li class="nav-item">
    <%= link_to 'Transaction List', @account, class: "nav-link #{isActive 'accounts', 'show'}" %>
  </li>

  <li class="nav-item">
    <% unless @account.required %>
      <%= link_to 'Edit Account', edit_account_path(@account), class: "nav-link #{isActive 'accounts', ['edit', 'update']}" %>
    <% end %>
  </li>
</ul>
