<%= render 'show_header' %>

<table class="table table-hover row-links">
  <thead class="thead-default">
    <tr>
      <th>Type</th>
      <th>Amount</th>
    </tr>
  </thead>

  <tbody>
    <% @trans.each do |a| %>
      <tr data-link="<%= edit_customers_invoice_path(a.customer, a) %>">
        <td>Invoice</td>
        <td><%= number_to_currency(a.amount) %></td>
      </tr>
    <% end %>
    <!--<#% @accounts.each do |a| %>
      <tr data-link="<#%= account_path a %>">
        <td><#%= a.name %></td>
        <td><#%= number_to_currency(a.balance) %></td>
      </tr>
    <#% end %> -->
  </tbody>
</table>
